@require 'zorium-paper/base'

@require '../../vars'

.z-referred
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .top
    > .title
      margin-bottom: 32px

    > .scroll-down
      responsive-font-caption()
      text-transform: uppercase
      margin-top: auto

  > .bottom
    > .title
      margin-bottom: 8px

  > .top, > .bottom
    text-align: center
    padding: 32px 16px 16px 16px
    box-sizing: border-box
    display: flex
    flex-direction: column

    > .logo
      width: 118px
      height: 104px
      margin: 0 auto 32px auto
      background: url($cdnUrl + '/rt_icon.svg')

    > .title
      responsive-font-title()
      text-transform: uppercase

    > .description
      responsive-font-body2()

      > p
        margin-bottom: 24px
