// @require '../../vars'
//
// .z-scratch-sticker-canvas
//   position: absolute
//   width: 100%
//   height: 100%
//
//   > .canvas, .tmp-canvas
//     width: 100%
//     height: 100%
//     position absolute
//     left 0
//     right 0
//     bottom 0
//     top 0
//     -webkit-tap-highlight-color: transparent
//
//     > .tmp-canvas
//       z-index: 1
