@require '../../vars'

.p-group-shop
  display: flex
  flex-direction: column

.p-group-shop_shop, .p-group-shop_collection
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 16px
  box-sizing: border-box
