

@require '../../vars'

@keyframes z-simulator_chest-click
  0%
    transform: scale(1)
  50%
    transform: scale(0.85)
  100%
    transform: scale(1)

@keyframes z-simulator_chest-click-card
  0%
    transform: translate(100px, 180px) rotateY(180deg)
  50%
    transform: translate(100px, 0) rotateY(180deg)
  100%
    transform: translate(0, 0) rotateY(360deg)

@keyframes z-simulator_legendary-text
  0%
    background-position: 0% 0%
  50%
    background-position: 100% 0%
  100%
    background-position: 0% 0%

// @keyframes z-simulator_chest-click-card-rotate
//   0%
//     transform: rotateY(0deg)
//   50%
//     transform: rotateY(180deg)
//   100%
//     transform: rotateY(0deg)

$stroke = -2px -2px 0 #000,
           2px -2px 0 #000,
          -2px  4px 0 #000,
           2px  4px 0 #000

$strokeSmall = -1px -1px 0 #000,
          1px -1px 0 #000,
         -1px  2px 0 #000,
          1px  2px 0 #000

card()
  width: 125px
  height: 150px
  background-size: 100%
  box-sizing: border-box
  padding-top: 104px
  font-size: 26px
  text-shadow: $stroke
  text-align: center

legendary()
  position: relative

  &:after
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    content: attr(data-text)
    background-image: linear-gradient(left, #D68AB0 0%, #D8CE5D 25%, #6BD85D 50%, #5DB9D8 75%, #D85DCB 100%)
    animation: z-simulator_legendary-text 6s infinite
    white-space: nowrap
    background-size: 500% 500%
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    text-shadow: none


.z-simulator
  background: url($cdnUrl + '/clash_royale/pattern.png?1')
  flex: 1
  display: flex
  flex-direction: column
  box-shadow: inset 0 0 200px #000
  font-family: Clash

  &.is-done
    > .chest
      margin-top: auto
      margin-bottom: 16px

  &.is-opened
    > .top
      opacity: 1

  &.is-clicked
    > .top > .card
      animation: z-simulator_chest-click-card 0.5s

    > .top > .info
      opacity: 0
      transition: opacity 0s

    > .chest
      animation: z-simulator_chest-click 0.2s

  > .top
    opacity: 0
    margin: auto auto 0 auto
    display: flex

    > .card
      card()
      position: relative
      z-index: 999
      transform-style: preserve-3d
      backface-visibility: hidden

      &:after
        content: ''
        right: 0px
        bottom: 0px
        position: absolute
        top: 0px
        left: 0px
        background-image: url($cdnUrl + '/cards/back.png')
        background-size: 100%
        transform: rotateY(180deg)
        transform-style: preserve-3d
        backface-visibility: hidden

      &.is-common:after
        background-image: url($cdnUrl + '/cards/common_back.png')

      &.is-rare:after
        background-image: url($cdnUrl + '/cards/rare_back.png')

      &.is-epic:after
        background-image: url($cdnUrl + '/cards/epic_back.png')

      &.is-legendary:after
        background-image: url($cdnUrl + '/cards/legendary_back.png')

    > .info
      margin-left: 16px
      width: 200px
      opacity: 1
      transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1)

      > .name
        font-size: 26px
        line-height: 26px
        margin-top: 20px
        text-shadow: 0 0 4px #000
        text-shadow: $stroke

      > .description
        font-size: 15px
        margin-top: 4px
        color: #ffffcc
        text-shadow: $strokeSmall

        &.is-common
          color: #06caf1

        &.is-rare
          color: #f9cc09

        &.is-epic
          color: #de16df

        &.is-legendary
          color: #01fd03
          legendary()

  > .chest
    width: 240px
    height: 240px
    background-size: 100%
    margin: 32px auto auto auto
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1)
    position: relative

    > .cards-left
      width: 50px
      height: 50px
      box-sizing: border-box
      padding-top: 13px
      padding-left: 17px
      text-align: center
      font-size: 24px
      position: absolute
      right: 45px
      top: 70px
      background: url($cdnUrl + '/clash_royale/cards_left.png')
      background-size: 100% 100%
      text-shadow: $strokeSmall

  > .bottom
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    width: 80%
    margin: 0 auto auto auto

    > .you-got
      color: #33ccff
      text-shadow: $strokeSmall
      margin-bottom: 12px

    > .cards
      > .card
        card()
        text-shadow: $strokeSmall
        display: inline-block
        width: 60px
        height: 72px
        padding-top: 44px
        font-size: 14px
        margin: 4px 0

    > .ad-coming
      font-size: 14px
      margin-top: 8px
