@require '../../vars'

.z-currency-shop
  width: 100%

  > .closed
    text-align: center
    padding-top: 24px
    font-title()

  > .g-grid
    > .g-cols
      > .g-col
        > .iap
          font-title()
          width: 100%
          display: flex
          padding: 16px
          box-sizing: border-box
          align-items: center

          > .info
            flex: 1

            > .amount
              font-title()
              color: getColor('$tertiary900Text')
              font-weight: 500
              display: flex
              align-items: center
              margin-bottom: 8px

              > .icon
                margin-left: 4px
                position: relative

          > .button
            margin-left: auto
