@require 'zorium-paper/base'

@require '../../vars'

.z-threads
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .no-threads
    padding: 16px
    text-align: center

  > .g-grid
    margin-top: 4px

    > .thread
      display: flex
      padding: 14px 16px

      > .count
        font-body1()
        width: 40px
        height: 40px
        border-radius: 50%
        background: getColor('$black')
        margin-right: 16px
        display: flex
        justify-content: center
        align-items: center

      > .info
        > .title
          font-title()
          margin-bottom: 8px

        > .text
          font-body1()
          color: getColor('$white70')

        > .message-info
          font-caption1()
          color: getColor('$white30')

  > .divider
    width: 100%
    height: 1px
    background: getColor('$white12')
    margin: 8px 0

  > .fab
    position: fixed
    bottom: 16px
    right: 16px
    z-index: 50
