@require 'zorium-paper/base'

@require '../../vars'

.z-threads
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 16px

  > .no-threads
    text-align: center

  > .g-grid
    margin-top: 4px

    > .thread
      padding: 16px
      background: getColor('$tertiary700')
      display: block
      border-radius: 2px
      margin-bottom: 16px

      > .title
        font-title()

      > .info
        margin-top: 8px

        > .author
          font-caption2()
          display: flex
          align-items: center

          > .middot
            margin: 0 4px

  > .fab
    position: fixed
    bottom: 16px
    right: 16px
    z-index: 50
