@require 'zorium-paper/base'

@require '../../vars'

.z-threads
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 16px

  > .no-threads
    text-align: center

  > .g-grid
    margin-top: 4px

    > .columns
      display: flex

      > .column
        flex: 1
        margin: 0 8px

        &:first-child
          margin-left: 0

        &:last-child
          margin-right: 0

        > .thread
          background: getColor('$tertiary700')
          display: inline-block
          width: 100%
          border-radius: 2px
          margin-bottom: 16px

          > .image
            background-size: cover
            background-position: center
            width: 100%
            height: 0
            padding-bottom: 33%

          > .content
            padding: 16px

            > .title
              font-title()

            > .info
              margin-top: 8px

              > .author
                font-caption2()
                display: flex
                align-items: center

                > .middot
                  margin: 0 4px

                > .comments
                  margin-left: auto
                  margin-right: 16px

                > .comments, > .points
                  display: flex
                  align-items: center

                  > .icon
                    margin-left: 8px
