@require 'zorium-paper/base'

@require '../../vars'

.z-pay
  flex: 1
  display: flex

.z-pay_info-content
  > .product, > .due
    display: flex
    margin-bottom: 8px
    responsive-font-body2()

    &.due
      font-weight: 500
      margin-top: 8px

    > .right
      margin-left: auto

  > .payment-errors
    responsive-font-caption()
    color: getColor('$red500')

.z-pay_input-flex
  display: flex
  align-items: baseline

  > .slash
    margin: 0 16px
