@require 'zorium-paper/base'

@require '../../vars'

.z-user-picker
  > .top
    display: flex
    align-items: center
    margin-bottom: 20px

    > .title
      font-subhead()
      color: getColor('$tertiary500')

    > .select-all
      font-button()
      color: getColor('$grey600')
      text-transform: uppercase
      cursor: pointer
      margin-left: auto

  > .divider
    height: 1px
    margin: 8px -16px 20px -16px
    background: getColor('$black12')

  > .user
    display: flex
    align-items: center
    margin-bottom: 16px

    &.is-unavailable
      > .name, .checkbox
        opacity: 0.25

    > .avatar
      margin-right: 16px

    > .name
      font-title()
      color: getColor('$tertiary900')

      > .unavailable-message
        font-body1()

    > .checkbox
      width: 18px
      height: 18px
      appearance: none
      margin-left: auto
      border-radius: 2px
      display: flex
      border: 2px solid getColor('$grey600')
      box-sizing: border-box

      &.is-checked
        border: none
        background: getColor('$white')

.z-users-picker_no-users
  > .find-friends
    margin-top: 8px
