@require 'zorium-paper/base'

@require '../../vars'

.z-star
  flex: 1
  box-sizing: border-box

  > .g-grid
    > .info
      display: flex
      margin: 16px

      > .avatar
        margin-right: 16px

      > .details
        > .name
          font-title()

        > .status
          font-caption2()
          margin-top: 2px
          display: flex

          > .icon
            margin-right: 4px

    > .buttons
      margin: 16px
      display: flex

  > .divider
    width: 100%
    height: 1px
    background: getColor('$white12')

  > .title
    font-subhead()
    color: getColor('$primary500')
    padding: 16px

  > .videos
    padding: 16px
