@require 'zorium-paper/base'

@require '../../vars'

.z-request-invite-form
  flex: 1
  display: flex

  > .requested
    margin: auto

    > .title
      responsive-font-title()
      text-transform: uppercase
      text-align: center
      margin-bottom: 16px

    > .description
      responsive-font-body2()
      margin-bottom: 32px
      text-align: center
