@require 'zorium-paper/base'

@require '../../vars'

.z-group-manage-member-records
  padding: 16px
  width: 100%
  box-sizing: border-box

  > .record-type
    background: getColor('$tertiary700')
    width: 100%
    padding: 16px
    box-sizing: border-box
    margin-bottom: 16px

    > .name
      font-title()

    > .stats
      margin-top: 24px

      > .stat
        display: inline-block
        margin-right: 24px

        > .value
          font-title()

        > .title
          font-caption1()
          color: getColor('$white30')

    > .graph
      margin-top: 24px
