@require 'zorium-paper/base'

@require '../../vars'

.z-decks
  display: flex
  width: 100%
  flex: 1
  position: relative

  > .primary
    flex: 1
    min-width: 0
    overflow: auto
    -webkit-overflow-scrolling: touch

  > .secondary
    flex: 1
    min-width: 0
    overflow: auto
    -webkit-overflow-scrolling: touch

  > .fab
    position: absolute
    bottom: 16px
    right: 16px
    z-index: 50
