@require 'zorium-paper/base'

@require '../../vars'

.z-edit-group
  flex: 1
  display: flex
  flex-direction: column

  > .actions
    display: flex
    height: 56px
    background: getColor('$tertiary700')
    cursor: pointer
    flex-shrink: 0

    > .action
      flex: 1
      display: flex
      align-items: center
      justify-content: center

      &:hover
        background: getColor('$tertiary900')

      > .icon
        margin-right: 12px

      > .text
        responsive-font-button()
        font-weight: 400

  > .content
    padding: 16px

    > .button
      margin-bottom: 16px

    > .title
      responsive-font-subhead()
      text-transform: uppercase
      color: getColor('$primary500')
      padding: 14px 0

    > .input
      margin-top: -8px

    > .label
      responsive-font-label()
      display: flex
      align-items: center
      padding: 12px 0
      margin-top: 12px

      > .right
        margin-left: auto
