@require '../../vars'

.z-item-list
  flex: 1
  padding: 8px

  &.is-inactive
    overflow: hidden

  > .share
    font-body2()
    margin-left: auto
    margin-top: 16px
    color: getColor('$primary500')
    display: flex
    align-items: center
    justify-content: center

    > .icon
      margin-right: 16px

  > .g-grid
    > .no-items
      font-body1()
      color: getColor('$tertiary900Text')
      line-height: 20px
      text-align: center
      padding: 16px

  > .spinner
    margin: 40px 0 16px 0

  > .g-grid
    > .row
      &.is-visible
        > .item
          display: inline-block
          vertical-align: top

      > .item
        display: none

        &.has-on-click
          cursor: pointer
