@require '../../vars'

.z-item-list
  flex: 1
  padding: 8px

  &.is-inactive
    overflow: hidden

  > .no-items
    font-body1()
    color: getColor('$tertiary900Text')
    line-height: 20px
    text-align: center
    padding: 16px

  > .spinner
    margin: 40px 0 16px 0

  > .group
    width: 100%

    > .title
      font-subhead()
      color: getColor('$primary500')
      margin-bottom: 8px

    > .row
      &.is-visible
        > .item
          display: inline-block
          vertical-align: top

      > .item
        display: none

        &.has-on-click
          cursor: pointer
