

@require '../../vars'

.z-players-top
  width: 100%
  box-sizing: border-box
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .search
      padding: 16px
      cursor: pointer

    > .ad
      margin: 16px 0

    > .subhead
      font-subhead()
      color: getColor('$primary500')
      padding: 16px
