@require 'zorium-paper/base'

@require '../../vars'

.z-players-top
  width: 100%
  box-sizing: border-box
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .search
      padding: 16px
      cursor: pointer
