@require 'zorium-paper/base'

@require '../../vars'

.z-players-top
  width: 100%
  box-sizing: border-box
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .subhead
      font-subhead()
      color: getColor('$primary500')
      padding: 16px
