@require 'zorium-paper/base'

@require '../../vars'

json('zorium-paper/colors.json')

.z-slide-step
  width: 100%
  box-sizing: border-box
  display: flex
  flex-direction: column

  &.is-primary
    background: getColor('$primary500')

    // > .screenshot-block
    //   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), getColor('$primary600'))

  &.is-tertiary
    background: getColor('$tertiary500')

    // > .screenshot-block
    //   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), getColor('$tertiary600'))

  > .title-block
    responsive-font-title()
    text-transform: uppercase
    margin-top: auto
    width: 100%
    text-align: center

  > .screenshot-block
    display: flex
    align-items: flex-end
    height: 164px
    margin-top: 48px

  > .info-block
    display: flex
    margin-top: 48px
    margin-bottom: auto
    width: 100%
    text-align: center

  // @media (min-width: $breakPointMedium)
  //   flex-direction: row
  //
  //   > .screenshot-block, .info-block
  //     width: 50%
  //     height: auto
