@require '../../vars'

.z-claim-clan-dialog_dialog
  display: block

  > .content

    > .error
      font-title()
      color: getColor('$primary500')
      margin-bottom: 16px

    > .input
      margin: 16px 0

    > .text
      font-body1()

    > .code
      font-h1()
      background: getColor('$tertiary900')
      color: getColor('$tertiary900Text')
      text-align: center
      padding: 14px
      margin: 16px 0

    > .unlock
      font-body1()
      display: flex
      align-items: center
      margin-top: 16px

      > .icon
        margin-right: 16px
