

@require '../../vars'

.z-profile-landing
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  box-sizing: border-box
  padding: 0 16px 16px 16px
  position: relative

  > .header-background
    background: getColor('$primary500')
    width: 100%
    height: 168px
    position: absolute
    top: 0
    left: 0

  > .content
    position: relative
    z-index: 1
    padding: 16px
    width: 100%
    box-sizing: border-box
    text-align: center

    > .g-grid
      > .header
        > .title
          font-h1()
          text-align: center

        > .description
          font-body1()
          margin-top: 8px
          text-align: center

        > .form
          background: getColor('$tertiary700')
          border-radius: 2px
          padding: 16px
          max-width: 480px
          margin: 16px auto 0 auto

  > .g-grid
    > .actions
      display: flex
      max-width: 400px
      margin: 0 auto

      > .button
        flex: 1

    > .subhead
      font-subhead()
      color: getColor('$primary500')
      text-align: left
      margin-top: 20px

    > .features
      max-width: 700px
      margin: 16px auto 0 auto

      > .feature
        display: flex
        padding: 8px 0

        &.chat-and-forum
          padding-top: 0 // this image isn't exactly square, so even up padding

        > .image
          width: 100px
          height: 100px
          background-size: 100%

        > .info
          flex: 1
          margin-left: 16px

          > .name
            font-subhead()

          > .description
            font-body1()
            color: getColor('$tertiary300')

    > .terms
      font-caption1()
      color: getColor('$tertiary300')
      margin-top: 20px
