@require '../../vars'

.z-weekly-raffle
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 16px

  > .g-grid
    > .subhead
      font-subhead()
      color: getColor('$primary500')

    > .share
      max-width: 400px
