

@require '../../vars'

.z-player-list
  width: 100%

  > .player
    display: flex
    align-items: center
    padding: 16px
    cursor: pointer
    border-bottom: 1px solid getColor('$tertiary900Text12')

    > .avatar, > .rank
      font-title()
      margin-right: 40px

    > .content
      width: 100%

      > .name
        font-title()
        display: flex
        align-items: center

        > .verified
          margin-left: 4px

      > .details
        display: flex
        margin-top: 4px

        > .clan
          font-caption1()
          color: getColor('$tertiary900Text54')

        > .trophies
          font-caption1()
          color: getColor('$tertiary900Text54')
          margin-left: auto
          display: flex
          align-items: center

          > .icon
            margin-left: 6px
