@require '../../vars'

.z-tap-tabs
  @media (min-width: $breakPointLarge)
    > .menu
      max-width: 400px
      margin: 0 auto

    &.is-full-width
      > .menu
        max-width: none

  > .menu
    color: getColor('$tertiary900')
    width: 100%
    border: 2px solid getColor('$tertiary500')
    display: flex
    box-sizing: border-box
    border-radius: 5px
    position: relative

    > .item
      font-caption()
      font-weight: 500
      text-transform: uppercase
      background: getColor('$tertiary500')
      color: getColor('$tertiary900Text')
      padding: 8px
      flex: 1
      text-align: center
      border-left: 1px solid getColor('$tertiary500')
      border-right: 1px solid getColor('$tertiary500')
      height: 100%
      display: flex
      align-items: center
      text-align: center
      justify-content: center
      box-sizing: border-box
      -webkit-tap-highlight-color: transparent

      &:first-child
        border-left: none

      &:last-child
        border-right: none

      &.is-selected
        background: getColor('$primary500')
        color: getColor('$primary500Text')

  @media (min-width: $breakPointLarge)
    > .menu
      height: 48px
