@require 'zorium-paper/base'

@require '../../vars'

.z-user-header
  height: 202px
  width: 100%
  background-size: 100% auto
  background-repeat: no-repeat
  background-position: center
  display: flex
