

@require '../../vars'

.z-group-info
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    box-sizing: border-box

    > .join-button
      padding: 16px

    > .title
      font-subhead()
      color: getColor('$primary500')
      margin: 0
      padding: 16px

    > .about, > .stats
      padding: 0 16px
