@require 'zorium-paper/base'

@require '../../vars'

@keyframes z-spinner_expand
  0%
    transform: scale(0)
  90%
    transform: scale(1)
  100%
    z-index: 1


.z-spinner
  position: relative
  margin: 0 auto 0 auto

  > .circle
    background-color: getColor('$white')
    border-radius: 50%
    width: 100%
    height: 100%
    box-sizing: border-box
    position: relative

  > .circle:before, .spinner:after
    content: ''
    position: absolute
    left: 0
    top: 0
    display: block
    border-radius: 50%
    width: 100%
    height: 100%

  > .circle:before
    background: getColor('$orange500')
    animation: z-spinner_expand 1.2s linear infinite both

  > .circle:after
    background: getColor('$white')
    animation: z-spinner_expand 1.2s linear 0.6s infinite both
