

@require '../../vars'

@keyframes z-spinner_loading
  0%
    transform: scale(0.5)
    background: getColor('$red500')
  50%
    transform: scale(1)
    background: transparent
  100%
    transform: scale(0.5)
    background: getColor('$red500')

.z-spinner
  list-style: none
  position: relative
  // top: 50%
  // left: 50%
  margin: auto
  // transform: translate(-50%, -50%)
  font-size: 0

  li
    position: absolute
    top: 50%
    left: 0
    margin: 0
    height: 50%
    width: 32%
    border-radius: 100%
    transform: transformZ(0)
    animation: z-spinner_loading 2s infinite

    &:nth-child(1n)
      left: -50%
      margin-left: 25%
      animation-delay: 0s

    &:nth-child(2n)
      left: 0
      animation-delay: 0.2s

    &:nth-child(3n)
      left: 50%
      animation-delay: 0.4s
