@require 'zorium-paper/base'

@require '../../vars'

.z-refer
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 0 16px

  > .icon
    margin: 28px 0

  > .description
    text-align: center

    > p
      margin-top: 16px

      &:first-child
        margin-top: 0

  > .link
    border-radius: 2px
    background: getColor('$tertiary500')
    padding: 16px
    text-align: center
    width: 100%
    appearance: none
    border: none
    outline: none
    box-sizing: border-box
    margin: 32px 0 16px 0
