@require '../../vars'

.z-donate-dialog_dialog
  > .donate
    font-body1()
    > .range
      appearance: none
      width: 100%

      &::-webkit-slider-runnable-track
        height: 2px
        border-radius: 1px
        border: none
        background: getColor('$tertiary900Text54')

      &::-webkit-slider-thumb
        appearance: none
        border: none
        height: 12px
        width: 12px
        border-radius: 50%
        margin-top: -6px
        background: getColor('$primary500')

      &:focus
        outline: none

    > .amount
      font-h1()
      text-align: center
      margin-top: 20px
