@require 'zorium-paper/base'

@require '../../vars'

.z-auto-refresh-dialog_dialog
  font-body1()

  > .subhead
    font-subhead()

  > .step
    display: flex

    > .number
      font-h1()

    > .info
      margin-left: 8px

  > .verify-button, > .visit-forum-button
    margin-bottom: 8px
