

@require '../../vars'

.p-group-chat
  display: flex
  flex-direction: column

  > .content
    flex: 1
    display: flex
    flex-direction: column
    position: relative

  > .overlay
    position: fixed
    z-index: 999999
    left: 0
    top: 0
    width: 100%
    height: 100%

.p-group-chat_top-right
  display: flex

.p-group-chat_title
  padding: 12px
  margin-left: -12px
  cursor: pointer
  position: relative

  > .group
    font-micro()
    margin-bottom: 2px

  > .channel
    > .arrow
      display: inline-block
      vertical-align: top
      margin-left: 10px
      margin-top: 8px
      width: 0
      height: 0
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 5px solid getColor('$white')
