@require '../../vars'

.z-group-home
  flex1()
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  padding: 16px

  > .g-grid
    > .weekly-raffle
      font-title()
      background: getColor('$primary900')
      color: getColor('$primary500Text')
      display: flex
      align-items: center
      padding: 8px 16px
      border-radius: 2px
      cursor: pointer
      margin-bottom: 8px

      > .learn-more
        margin-left: auto
        font-button()

    > .card
      margin-bottom: 8px

.z-group-home_ui-card
  > .list-item
    padding: 8px 0
