@require 'zorium-paper/base'

@require '../../vars'

.z-looking-for-friends-dialog_dialog
  display: block

  > .content

    > .error
      font-title()
      color: getColor('$primary500')
      margin-bottom: 16px

    > .input
      margin: 16px 0

    > .text
      font-body1()

    > .expires
      font-caption2()
