@require 'zorium-paper/base'

@require '../../vars'

.z-clan-info
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding-bottom: 16px

  > .header
    width: 100%
    box-sizing: border-box
    background-color: getColor('$tertiary700')

    > .divider
      width: 100%
      height: 1px
      background: getColor('$white12')
      margin: 0

    > .g-grid
      > .info
        display: flex
        align-items: flex-end
        margin-bottom: 8px
        padding: 16px

        > .left
          > .name
            font-h1()

          > .tag
            font-caption1()
            color: getColor('$tertiary300')
            margin-top: 4px

        > .right
          margin-left: auto

          > .clan-name
            font-body1()

          > .clan-tag
            font-caption1()
            color: getColor('$tertiary300')
            margin-top: 4px

      > .g-cols
        > .g-col
          > .text
            font-title()
            text-align: center

      > .last-updated
        padding: 8px 16px
        display: flex
        align-items: center

        > .time
          font-caption2()

        > .refresh
          margin-left: auto

      > .claim-button
        padding: 0 16px 16px 16px

  > .content
    padding: 0 16px

    > .ad
      padding: 16px

    > .divider
      width: 100%
      height: 1px
      background: getColor('$white12')
      margin: 0

    > .card
      margin: 16px 0

    > .block
      > .g-grid

        > .description
          font-body1()
          margin: 16px 0

        > .splits-info-card
          margin-top: 16px

        > .title
          font-subhead()
          color: getColor('$primary500')
          margin: 16px 0
