@require 'zorium-paper/base'

@require '../../vars'

$zIndexUploadOverlay = 1

.z-edit-profile
  > .actions
    display: flex
    height: 56px
    background: getColor('$tertiary700')
    cursor: pointer

    > .action
      flex: 1
      display: flex
      align-items: center
      justify-content: center

      &:hover
        background: getColor('$tertiary900')

      > .icon
        margin-right: 12px

      > .text
        responsive-font-button()
        font-weight: 400

  > .section
    padding: 0 16px
    max-width: $inputMaxWidth
    margin: 0 auto

    > .title
      responsive-font-subhead()
      text-transform: uppercase
      color: getColor('$primary500')
      padding: 14px 0

    > .input
      margin-top: -8px

    > .flex
      display: flex
      align-items: center

      > .button
        height: 44px
        margin-left: 16px
        position: relative

        > .upload-overlay
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          z-index: $zIndexUploadOverlay
