@require '../../vars'

.z-group-earn-xp
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 16px
  box-sizing: border-box

  > .g-grid
    > .level
      font-title()
      margin-bottom: 4px
      padding: 2px 0

    > .bar
      background: getColor('$tertiary400')
      height: 12px
      margin-bottom: 16px
      position: relative

      > .fill
        background: getColor('$primary500')
        height: 100%

      > .progress
        font-caption1(false)
        line-height: 12px
        position: absolute
        left: 0
        top: 0
        padding: 0 8px

    > .g-cols > .g-col
      > .action
        display: flex
        align-items: center
        background: getColor('$tertiary700')
        border-radius: 2px
        padding: 16px
        min-height: 76px

        > .text
          margin-left: 16px

        > .amount
          font-title()
          // margin-left: 4px
          display: flex
          align-items: center

          > .icon
            margin-left: 4px

        > .button
          margin-left: auto
