@require 'zorium-paper/base'

@require '../../vars'

.z-edit-group-change-badge
  flex: 1
  display: flex
  flex-direction: column

  > .content
    padding: 16px
    flex: 1
    overflow: auto
    -webkit-overflow-scrolling: touch

    > .g-grid
      > .title
        font-subhead()
        color: getColor('$primary500')
        padding: 16px 0

      > .g-cols
        > .g-col
          > .background-color
            width: 100%
            padding-bottom: 100%
            border-radius: 50%
            background-size: auto 100%

            &.is-selected
              position: relative
              box-sizing: border-box

              &:after
                position: absolute
                top: 6%
                left: 6%
                content: ''
                width: 88%
                height: 88%
                border-radius: 50%
                border: 3px solid getColor('$tertiary900')
                box-sizing: border-box
