@require '../../vars'

.z-join-group-dialog_dialog
  display: block

  > .content
    > .error
      font-title()
      color: getColor('$primary500')

    > .input
      margin: 16px 0

    > .text
      font-body1()
