@require '../../vars'

.z-group-leaderboard
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .level
      font-title()
      margin-bottom: 4px
      padding: 2px 0

    > .bar
      background: getColor('$tertiary400')
      height: 12px
      position: relative
      margin: 16px

      > .fill
        background: getColor('$primary500')
        height: 100%

      > .progress
        font-caption1(false)
        color: getColor('$primary500Text')
        font-size: 13px
        line-height: 14px
        position: absolute
        left: 0
        top: 0
        padding: 0 8px


    > .leaderboard
      padding: 0 16px

      > .no-users
        padding: 16px 0

      > .user
        display: flex
        align-items: center
        padding: 8px 0

        > .rank
          font-caption2()

        > .avatar
          margin-left: 16px

        > .name
          font-title()
          overflow: hidden
          margin-left: 16px

        > .xp
          margin-left: auto
