@require 'zorium-paper/base'

@require '../../vars'

.z-clan-metrics
  > .g-grid
    > .title
      font-subhead()
      color: getColor('$primary500')
      margin: 16px 0

    > .g-cols
      > .g-col
        > .name
          font-caption1()
          color: getColor('$tertiary300')

        > .value
          font-title()
          margin-top: 4px
