

@require '../../vars'

.z-videos
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .title
    font-subhead()
    color: getColor('$primary500')
    padding: 16px
    margin: 0

  > .videos
    padding: 0 16px

    > .video
      display: flex
      padding: 8px 0

      > .thumbnail
        width: 152px
        height: 86px
        background-size: 100%
        background-repeat: no-repeat
        position: relative

        > .bottom-right
          position: absolute
          bottom: 4px
          right: 4px
          display: flex
          align-items: center

          > .duration
            font-caption1()
            background: getColor('$black87')
            color: getColor('$white')
            height: 24px
            padding: 4px
            box-sizing: border-box

          > .source-icon
            background: getColor('$black87')
            margin-left: 8px
            height: 24px
            padding: 4px
            box-sizing: border-box

      > .info
        min-width: 0
        flex: 1
        margin-left: 12px
        display: flex
        flex-direction: column

        > .title
          font-title()
          overflow: hidden

        > .author
          font-caption1()
          color: getColor('$tertiary300')
          margin-top: auto
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis

    > .divider
      width: 100%
      height: 1px
      background: getColor('$white12')
      margin: 0
