@require '../../vars'

.p-profile
  display: flex
  flex-direction: column
  width: 100%

  > .content
    overflow: auto
    -webkit-overflow-scrolling: touch
    flex1()
    display: flex
    flex-direction: column

    &::-webkit-scrollbar
      width: 0px
      background: transparent

    > .profile
      width: 100%
      flex1()
      display: flex
      flex-direction: column
      padding-bottom: 80px
      // -160px is too far when scrolling to bottom
      // -80px leaves margin at bottom w/o adding negative 80 in z-profile
      margin-bottom: -80px

    > .profile-info
      width: 100%

    > .get-tag
      max-width: 400px
      padding: 16px


.p-profile_top-right
  display: flex
