@require 'zorium-paper/base'

@require '../../vars'

.p-group
  display: flex
  flex-direction: column

  > .overlay
    position: fixed
    z-index: 9999999
    top: 0
    left: 0
    width: 100%
    height: 100%

.p-group_top-right
  display: flex
