@require '../../vars'

.z-profile-refresh-bar
  // padding: 8px 16px
  display: flex
  align-items: center

  > .time
    font-caption2()
    margin-right: auto

  > .auto-refresh
    cursor: pointer
    display: flex

    font-caption2()
    margin-right: 8px

    > .status
      font-caption1()
      font-weight: 600
      text-transform: uppercase
      margin-left: 4px

    > .info
      margin-left: 4px
