

@require '../../vars'

.z-clan-graphs
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 0 16px

  > .g-grid

    > .record-type
      > .title
        font-subhead()
        color: getColor('$primary500')
        padding: 16px 0
