@require 'zorium-paper/base'

@require '../../vars'

.z-deck
  flex: 1
  display: flex
  flex-direction: column

  > .deck
    padding: 16px
    background: getColor('$tertiary700')

  > .stats
    background: getColor('$tertiary500')
    flex: 1

    > .row
      display: flex
      align-items: center
      padding: 16px

      > .icon
        margin-right: 34px
        width: 24px
        height: 24px

      > .stat
        flex: 1
        responsive-font-body2()

        &.bold
          font-weight: 500

      > .right
        responsive-font-body2()

        &.button
          responsive-font-button()
          color: getColor('$primary500')
