@require 'zorium-paper/base'

@require '../../vars'

.z-profile-dialog
  display: none

  &.is-visible
    display: block

.z-profile-dialog_dialog
  background: getColor('$tertiary700')
  border-radius: 2px

  > .header
    padding: 8px 0 8px 16px
    background: getColor('$tertiary900')
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    display: flex
    align-items: center
    position: relative
    // cursor: pointer

    > .chevron
      margin-left: auto

    > .avatar
      margin-right: 16px

    > .about
      > .name
        font-title()
        color: getColor('$white')
        margin-bottom: 4px

      > .roles
        font-caption1()
        color: getColor('$grey700')

  > .content
    list-style-type: none
    margin: 0
    padding: 8px 0

    > .divider
      background: getColor('$white12')
      height: 1px
      width: 100%
      margin: 8px 0

    > .menu-item
      margin: 0
      padding: 16px
      display: flex
      align-items: center
      cursor: pointer

      > .icon
        margin-right: 32px

      > .text
        font-body1()
        color: getColor('$white')
