@require 'zorium-paper/base'

@require '../../vars'

.z-profile-dialog
  display: block

  // FIXME
  > .zp-dialog
    > .dialog
      > .info
        padding: 0

.z-profile-dialog_dialog
  background: $white
  border-radius: 2px

  > .header
    padding: 16px
    background: getColor('$primary500')
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    display: flex
    align-items: center
    position: relative

    > .close
      position: absolute
      top: 0
      right: 0

    > .avatar
      margin-right: 8px

    > .about
      > .name
        responsive-font-subhead()
        color: getColor('$white')
        margin-bottom: 4px

  > .content
    list-style-type: none
    margin: 0
    padding: 8px

    > .menu-item
      margin: 0
      padding: 8px 0
      display: inline-block
      box-sizing: border-box
      width: 50%
      text-align: center

      > .icon
        margin-bottom: 12px

      > .text
        responsive-font-caption()
        color: getColor('$tertiary500')
