@require '../../vars'

.z-addon-list-item
  display: flex
  min-width: 0 // fix

  &.has-padding
    padding: 16px

  &.is-highlighted
    background: getColor('$tertiary700')

  > .icon-wrapper
    width: 40px

    > .icon
      width: 40px
      max-height: 60px

  > .info
    margin-left: 16px
    flex: 1

    > .name
      font-title()
      overflow: hidden

      > .creator
        font-caption2()
        display: inline-block
        margin-left: 4px

    > .description
      font-caption2()
