@require '../../vars'

.z-earn-fire
  flex: 1
  padding: 16px
  width: 100%
  box-sizing: border-box
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid

    > .buttons
      display: flex
      margin-top: 20px

      > .refresh, > .tips
        flex: 1

    .info-card
      margin-bottom: 16px

    .subhead
      font-subhead()
      color: getColor('$primary500')
      margin: 0 0 8px 0

    > .reward
      display: flex
      align-items: center
      cursor: pointer
      margin-bottom: 8px

      > .image
        width: 50px
        height: 50px
        background-size: cover
        border-radius: 50%

      > .text
        margin-left: 16px

      > .amount
        font-title()
        margin-left: auto
        display: flex
        align-items: center

        > .icon
          margin-left: 4px

.z-earn-fire_tips-dialog
  margin-bottom: -24px

  > ul
    padding: 0 0 0 16px

    ul
      font-caption1()
      padding: 0 0 0 8px
