@require '../../vars'

.z-earn-fire
  flex1()
  width: 100%
  box-sizing: border-box
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .no-rewards
      padding: 16px

    > .buttons
      display: flex
      padding: 8px

      > .refresh, > .tips
        flex1()

    .info-card
      margin-bottom: 16px

    .subhead
      font-subhead()
      color: getColor('$primary500')
      margin: 0 0 8px 0

    > .reward
      display: flex
      // align-items: center
      cursor: pointer
      padding: 8px 16px
      border-bottom: 1px solid getColor('$tertiary900Text12')

      > .image
        width: 50px
        height: 50px
        background-size: cover
        border-radius: 2px
        flex-shrink: 0

      > .info
        margin-left: 16px
        min-width: 0 // fix flex

        > .title
          font-body1()
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap

        > .description
          font-caption2()
          max-height: 44px
          overflow: hidden
          text-overflow: ellipsis


        > .amount
          font-caption1()
          color: getColor('$quaternary500')
          font-weight: 500
          margin-left: auto
          display: flex
          align-items: center

          > .icon
            margin-left: 4px

.z-earn-fire_tips-dialog
  margin-bottom: -24px

  > ul
    padding: 0 0 0 16px

    ul
      font-caption1()
      padding: 0 0 0 8px
