@require '../../vars'

.z-clash-royale-chest-cycle
  height: 96px

  &.show-all
    height: 115px

  &.images-loaded
    > .chests > .chest > .image
      opacity: 1
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .chests
    width: 100%
    overflow-x: scroll // want scrollbar to always be there for less jank
    -webkit-overflow-scrolling: touch
    white-space: nowrap
    margin-top: -24px
    max-width: 900px

    > .chest
      display: inline-block

      > .image
        opacity: 0

      > .count
        font-caption1()
        text-align: center


  @media (min-width: $breakPointMedium)
    &.show-all
      height: auto

      > .chests
        margin-left: 0
        margin-right: 0
        overflow-x: visible
        white-space: normal
