@require '../../vars'

.z-clash-royale-chest-cycle
  > .chests
    width: 100%
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    white-space: nowrap
    margin-top: -16px
    max-width: 900px
    margin-left: auto
    margin-right: auto

    > .chest
      display: inline-block

      > .count
        font-caption1()
        text-align: center
