

@require '../../vars'

$zIndexDrawer = 300
$zIndexDrawerHeader = 100

.z-drawer
  position: fixed
  z-index: $zIndexDrawer
  width: 0
  height: 0
  // display: none breaks the animation
  top: 0
  left: 0
  box-sizing: border-box
  border-right: 1px solid getColor('$black')
  pointer-events: none // not supported in ie9/10 (ie our entire app breaks)

  @media (min-width: $contentMaxWidth)
    position: relative
    z-index: 1
    pointer-events: all // not supported in ie9/10 (ie our entire app breaks)

    > .overlay
      display: none

    > .drawer
      position: relative
      z-index: 1
      transform: translate(0, 0) !important

  &.is-open
    display: block
    width: 100%
    height: 100%
    pointer-events: all // not supported in ie9/10

    > .overlay
      opacity: 0.5
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .drawer
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .overlay
    background: getColor('$black')
    opacity: 0
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)
    width: 100%
    height: 100%
    -webkit-tap-highlight-color: getColor('$transparent')

  > .drawer
    // width and transform translate set in js
    height: 100%
    top: 0
    position: fixed
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1)
    display: flex
    flex-direction: column
    background: getColor('$tertiary700')
    // prevents flicker glitch http://stackoverflow.com/a/3921870
    backface-visibility: hidden

    > .top
      flex: 1
      overflow: auto
      -webkit-overflow-scrolling: touch

      > .header
        box-sizing: border-box
        z-index: $zIndexDrawerHeader
        // prevents flicker glitch http://stackoverflow.com/a/3921870
        backface-visibility: hidden
        padding: 20px 16px
        height: 56px
        box-sizing: border-box
        border-bottom: 1px solid $white12
        border-right: 1px solid getColor('$black')
        background: getColor('$primary500')
        display: flex
        align-items: center

        @media (min-width: $breakPointMedium)
          height: 64px

        > .logo
          width: 152px
          height: 20px
          background: url($cdnUrl + '/sf_logo_invert.svg') no-repeat
          background-size: auto 100%
          background-position: 0 center

        > .beta
          width: 35px
          height: 16px
          background: url($cdnUrl + '/beta_tag.svg') no-repeat
          background-size: auto 100%
          background-position: 0 center
          margin-left: 16px

        > .language
          font-caption1()
          margin-left: auto
          padding: 4px 8px
          border-radius: 2px
          background: getColor('$primary700')
          cursor: pointer

          > .arrow
            display: inline-block
            vertical-align: top
            margin-left: 8px
            margin-top: 8px
            width: 0
            height: 0
            border-left: 5px solid transparent
            border-right: 5px solid transparent
            border-top: 5px solid getColor('$white')



          // @media (min-width: $breakPointMedium)
          //   height: 24px
      > .ad
        position: absolute
        bottom: 0
        width: 336px
        height: 280px

      > .content
        flex: 1
        width: 100%
        box-sizing: border-box
        background: getColor('$tertiary700')
        padding: 8px 0

        > .menu
          list-style-type: none
          margin: 0
          padding: 0

          > .sign-in-buttons
            padding: 6px 16px
            display: flex

            > .button
              font-button()
              flex: 1
              padding: 10px
              background: getColor('$primary500')
              text-align: center
              border-radius: 2px
              cursor: pointer

              &:first-child
                margin-right: 16px

          > .divider
            width: 100%
            height: 1px
            background: getColor('$white12')
            margin: 8px 0

          > .menu-item
            > .menu-item-link
              font-title()
              display: block
              position: relative
              padding: 10px 16px

              > .icon
                display: inline-block
                vertical-align: middle
                margin-right: 36px
                width: 24px
                height: 28px

            &.is-selected
              > .menu-item-link
                background: getColor('$tertiary500')
