@require '../../vars'

.z-profile-history
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 16px

  > .g-grid

    > .title
      font-subhead()
      padding: 16px 0
      color: getColor('$primary500')

    > .deck
      margin-bottom: 16px

    > .divider
      width: 100%
      height: 1px
      background: getColor('$tertiary900Text12')
      margin: 8px 0

    > .migrate
      margin-top: 16px
