

@require '../../vars'

.z-arena-picker-dialog_dialog
  > .title
    font-h1()

  > .arenas
    max-height: 300px
    margin-top: 20px
    overflow: auto
    -webkit-overflow-scrolling: touch

    > .arena
      display: inline-block
      margin: 4px
      cursor: pointer
      padding: 8px
