@require 'zorium-paper/base'

@require '../../vars'

.z-group-header
  max-height: 202px
  height: 100%
  width: 100%
  background-size: auto 100%
  background-repeat: repeat-x
  display: flex
  flex: 1

  > .g-grid
    display: flex
    flex: 1
    height: 100%

    > .badge
      max-width: 70px
      width: 40%
      height: 90%
      margin: auto
