@require '../../vars'

.z-group-header
  max-height: 202px
  height: 100%
  width: 100%
  background-size: auto 100%
  background-repeat: repeat-x
  display: flex
  flex1()
  opacity: 0

  &.is-loaded
    opacity: 1
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .g-grid
    display: flex
    flex1()
    height: 100%

    > .badge
      max-width: 70px
      width: 40%
      height: 90%
      margin: auto
