@require 'zorium-paper/base'

@require '../../vars'

.z-deck-cards
  max-width: 600px

  > .row
    clearfix()

    > .card
      margin: -4px 0
      float: left
      padding: 4px
      box-sizing: border-box
