

@require '../../vars'

.z-deck-cards
  max-width: 600px

  &.has-no-margins
    > .row > .card
      margin: 0
      padding: 0

  > .row
    clearfix()

    > .card
      margin: -4px 0
      float: left
      padding: 4px
      box-sizing: border-box
