@require '../../vars'

.z-addons
  flex1()
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .title
      font-subhead()
      color: getColor('$primary500')
      padding: 16px 16px 0 16px
      margin: 0

    > .addons
      > .addon
        padding: 0 8px
        border-bottom: 1px solid getColor('$white12')
        min-height: 85px
