@require '../../vars'

$zIndexDeck = 99999999
$zIndexOpenPack = 999
$zIndexConfetti = 1
$zIndexContent = 2

.z-open-pack
  position: fixed
  z-index: $zIndexOpenPack
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex: 1
  flex-direction: column

  &.is-visible
    background: getColor('$primary500')

    > .content
      opacity: 1

  &.is-deck-spread
    > .content
      > .bottom
        transform: translate(0, 0)

  &.is-done-visible
    > .content
      > .bottom
        > .action
          display: block

        > .tap-to-reveal
          display: none

  > .confetti
    position: absolute
    z-index: $zIndexConfetti
    width: 100%
    height: 100%

  > .content
    position: relative
    z-index: $zIndexContent
    display: flex
    opacity: 0
    flex: 1
    flex-direction: column
    justify-content: center

    > .top-right
      position: absolute
      top: 18px
      right: 18px
      display: flex

      > .circulating
        font-body2()
        font-weight: 500
        color: getColor('$tertiary200')
        display: flex
        align-items: center

        > .icon
          margin-right: 8px

    > .items
      margin: auto 0

      > .deck
        transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1)
        -webkit-backface-visibility: hidden
        position: absolute
        z-index: $zIndexDeck
        left: 50%

        > .item
          position: absolute
          transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1)
          -webkit-backface-visibility: hidden


    > .bottom
      height: 72px
      display: flex
      align-items: center
      transform: translate(0, 72px)
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1)
      -webkit-backface-visibility: hidden

      > .action
        display: none
        margin-top: auto
        padding: 20px 16px
        width: 100%
        box-sizing: border-box

      > .tap-to-reveal
        font-body2()
        background: getColor('$primary700')
        color: getColor('$primary700Text')
        padding: 16px
        margin-top: auto
        width: 100%
        text-align: center
        box-sizing: border-box
        standard-padding()
