@require '../../vars'

.z-graph-widget
  margin-bottom: -16px
  // without this, labels don't show when graph is in 2nd column of
  // column-count: 2
  will-change: transform

  .ct-line
    stroke: getColor('$primary500')
    stroke-width: 3px
    stroke-linecap: round
    fill: transparent

  .ct-grid
    stroke: getColor('$tertiary900Text12')
    stroke-width: 1px

  .ct-label
    font-caption1()
    color: getColor('$tertiary300')

    &.ct-vertical
      transform: translateY(70%)
      display: inline-block

  .ct-point
    stroke: getColor('$primary500')
    stroke-width: 6px
    stroke-linecap: round
