@require 'zorium-paper/base'

@require '../../vars'

.z-formatted-text
  max-width: 700px // TODO: 510px

  ul
    margin: 4px 0

  p
    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  h1
    font-subhead()
    margin: 0

  h2
    font-title()
    margin: 0

  h3
    font-body1()
    margin: 0
