@require 'zorium-paper/base'

@require '../../vars'

.z-formatted-text
  max-width: 700px

  ul
    margin: 4px 0

  p
    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  img
    display: block
    max-width: 100%
    // easy fix for too tall of images in chat, etc...
    max-height: 800px

  h1
    font-subhead()
    margin: 0

  h2
    font-title()
    margin: 0

  h3
    font-body1()
    margin: 0

  blockquote
    margin: 0
    padding: 16px
    background: getColor('$tertiary500')

  ul
    padding: 0 0 0 16px

    li
      margin-bottom: 8px
