@require 'zorium-paper/base'

@require '../../vars'

.z-thread-comment
  display: flex
  padding: 16px 12px 12px 16px
  width: 100%
  box-sizing: border-box
  overflow: hidden

  > .content
    flex: 1
    min-width: 0 // fix

    > .author
      font-caption1()
      color: getColor('$white54')
      display: flex

      > .name
        margin-left: 8px


    > .body
      font-body1()
      margin-top: 8px
      overflow: hidden

      > div
        > .link
          text-decoration: underline

        > .sticker
          width: 70px
          height: 70px
          background-size: 100%
          background-repeat: no-repeat
          margin-right: auto

    > .card
      background: getColor('$black')
      padding: 8px
      margin-top: 12px
      border-radius: 2px
      cursor: pointer
      max-width: 300px

      > .title
        font-title()

      > .description
        font-body1()
        color: getColor('$white70')
        margin-top: 6px


  @media (min-width: $breakPointMedium)
    > .content > .info > .name
      max-width: none
