@require '../../vars'

.z-find-people
  width: 100%

  > .g-grid
    > .info-card
      margin: 16px

    > .new-lfg
      margin: 16px 16px 0 16px

    > .filters
      padding: 16px 16px 8px 16px

      > .tag
        font-body2()
        color: getColor('$tertiary300')
        display: inline-block
        padding: 4px
        margin-right: 4px
        cursor: pointer

        &.is-selected
          font-title()

    > .lfg
      padding: 16px
      cursor: pointer

      > .actions
        margin-top: 4px
        display: flex

    > .divider
      width: 100%
      height: 1px
      background: getColor('$tertiary900Text12')
      margin: 0
