@require '../../vars'

.z-find-people
  width: 100%

  > .g-grid
    > .lfg
      padding: 16px
      cursor: pointer

      > .actions
        margin-top: 4px
        display: flex

    > .divider
      width: 100%
      height: 1px
      background: getColor('$tertiary900Text12')
      margin: 0
