@require '../../vars'

.z-menu-fire-amount
  font-title()
  color: getColor('$header500Text')
  display: flex
  align-items: center
  cursor: pointer

  > .fire, > .group-currency
    display: flex

    > .icon
      margin-left: 4px

  > .group-currency
    margin-left: 8px
