@require 'zorium-paper/base'

@require '../../vars'

.z-user-deck-stats
  display: flex
  margin-top: 8px

  > .stat
    flex: 1

    > .name
      font-caption1()
      color: getColor('$tertiary300')

    > .value
      font-title()
      margin-top: 4px
