@require 'zorium-paper/base'

@require '../../vars'

.z-player-deck-stats
  display: flex

  > .stat
    flex: 1

    > .name
      font-caption1()
      color: getColor('$tertiary300')

    > .value
      font-title()
      margin-top: 4px
