@require 'zorium-paper/base'

@require '../../vars'

.z-deck-info
  flex: 1
  display: flex
  flex-direction: column

  > .section
    padding: 16px

    > .z-deck-cards
      margin: 0 auto

    > .deck-stats
      text-align: center

    > .stats
      display: flex

      > .stat
        flex: 1

        > .name
          font-caption1()
          color: getColor('$white54')

        > .value
          font-title()
          margin-top: 4px


      > .elixir
        font-title()
        color: getColor('$purple500')

    > .subhead
      font-subhead()
      color: getColor('$primary500')
      margin: 16px 0

  > .divider
    width: 100%
    height: 1px
    background: getColor('$white12')
    margin: 0
