@require 'zorium-paper/base'

@require '../../vars'

.z-group-add-records
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .content
      padding: 16px

      > .user
        display: flex

        > .right
          margin-left: 16px
          flex: 1

          > .name
            font-title()

          > .record-type
            font-body1()
            color: getColor('$tertiary300')
            display: flex
            align-items: center

            > .input
              margin-left: auto
              width: 60px
