@require 'zorium-paper/base'

@require '../../vars'

.z-group-members
  flex: 1
  padding: 16px
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .title
      responsive-font-subhead()
      color: getColor('$primary500')
      margin: 0
      padding: 16px
