@require '../../vars'

.z-avatar
  position: relative
  border-radius: 50%
  box-sizing: border-box
  border: 2px solid $white54

  > .image
    width: 100%
    height: 100%
    background-size: 100%
    border-radius: 50%

  > .level
    font-micro()
    font-size: 9px
    background: getColor('$primary500')
    border: 1px solid getColor('$white30')
    color: getColor('$black')
    position: absolute
    right: -2px
    bottom: -2px
    border-radius: 50%
    padding: 0 4px
