@require 'zorium-paper/base'

@require '../../vars'

json('zorium-paper/colors.json')

.z-avatar
  position: relative
  border-radius: 50%
  border: 2px solid $white30

  > .image
    width: 100%
    height: 100%
    background-size: 100%
    border-radius: 50%
