

@require '../../vars'

.z-avatar
  position: relative
  border-radius: 50%
  box-sizing: border-box
  border: 2px solid $white54

  > .image
    width: 100%
    height: 100%
    background-size: 100%
    border-radius: 50%
