@require '../../vars'

.z-group-home-fortnite-stats
  > .g-grid
    > .g-cols
      > .g-col
        > .stat
          > .title
            font-caption2()

          > .amount
            font-h1()

.group-home-fornite-stats_share-dialog
  .preview
    width: 100%
    min-width: 242px
    min-height: 142.41px
