@require 'zorium-paper/base'

@require '../../vars'

.z-profile-graphs
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 0 16px

  > .record-type
    > .title
      font-subhead()
      color: getColor('$primary500')
      padding: 16px 0

  > .ask
    font-body1()

    > .button
      margin-top: 8px
