use('./stylus_get_color.js')
use('./stylus_get_cdn_url.js')

$zIndexAppBar = 99
$zIndexTabs = 100
$zIndexShareAnyModal = 200
$zIndexHeadsUp = 10000
$zIndexInstallOverlay = 300
$zIndexSheet = 300

// TODO: move to vars.json, allow js to use (cardList)
$breakPointSmall = 340px
$breakPointMedium = 768px
$breakPointLarge = 840px

$contentMaxWidth = 1280px

$inputMaxWidth = 600px

$cdnUrl = getCdnUrl()

clearfix()
  zoom: 1

  &:before, &:after
    content: ''
    display: table

  &:after
    clear: both

shadow-1()
  transition: box-shadow 0.25s
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37)

shadow-2()
  transition: box-shadow 0.25s
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3)

shadow-3()
  transition: box-shadow 0.25s
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3)

shadow-4()
  transition: box-shadow 0.25s
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17), 0 20px 40px 0 rgba(0, 0, 0, 0.3)

shadow-5()
  transition: box-shadow 0.25s
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15), 0 27px 55px 0 rgba(0, 0, 0, 0.3)

font-h1()
  font-family: Rubik
  color: getColor('$white')
  font-weight: 500
  font-size: 20px
  letter-spacing: 1px
  text-transform: uppercase

  @media (min-width: $breakPointLarge)
    font-size: 24px

font-title()
  font-family: Rubik
  color: getColor('$white')
  font-weight: 500
  font-size: 14px

  @media (min-width: $breakPointLarge)
    font-size: 16px

font-subhead()
  font-title()
  font-weight: 700
  text-transform: uppercase

font-button()
  font-family: Rubik
  font-weight: 500
  color: getColor('$white')
  line-height: 16px
  font-size: 14px
  text-transform: uppercase
  @media (min-width: $breakPointLarge)
    font-size: 16px

font-body1()
  font-family: Rubik
  font-weight: 400
  color: getColor('$white')
  line-height: 20px
  font-size: 14px
  @media (min-width: $breakPointLarge)
    font-size: 16px

font-body2()
  font-body1()
  color: getColor('$tertiary300')

font-input()
  font-body()
  font-size: 16px
  @media (min-width: $breakPointLarge)
    font-size: 16px

font-caption1()
  font-family: Rubik
  color: getColor('$white')
  font-weight: 400
  font-size: 12px

  @media (min-width: $breakPointLarge)
    font-size: 14px

font-caption2()
  font-caption1()
  color: getColor('$tertiary300')

font-micro()
  font-size: 8px
  font-family: Rubik
  color: getColor('$tertiary300')
  text-transform: uppercase
  font-weight: 400
  line-height: 1.25

  @media (min-width: $breakPointLarge)
    font-size: 10px
