@require 'zorium-paper/base'

@require '../../vars'

json('zorium-paper/colors.json')

.z-groups
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 16px

  > .title
    responsive-font-subhead()
    color: getColor('$primary500')

  > .no-groups
    > .g-grid
      padding: 16px
      text-align: center

  > .groups
    > .g-grid
      > .g-cols
        > .g-col
          > .group
            display: block
            background: getColor('$tertiary700')

            > .image
              width: 100%
              padding-bottom: 56%
              background: black

            > .content
              padding: 16px

              > .name
                responsive-font-body1()

              > .count
                responsive-font-caption()
                margin-top: 4px
