@require '../../vars'

.z-profile-info
  background: getColor('$tertiary700')
  height: 80px
  box-sizing: border-box
  padding: 4px 16px
  display: flex

  > .g-grid
    display: flex

    > .avatar
      flex-shrink: 0

    > .info
      margin-left: 16px
      min-width: 0

      > .name
        font-h1()
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

      > .groups
        font-caption2()
        margin-top: 2px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

      > .fire
        font-caption2()
        margin-top: 2px
        display: flex
        align-items: center

        > .icon
          margin-left: 2px

    > .actions
      margin-left: auto
      max-width: 150px
