

@require '../../vars'

.z-profile-info
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding-bottom: 16px

  > .header
    width: 100%
    box-sizing: border-box
    background-color: getColor('$tertiary700')

    > .divider
      width: 100%
      height: 1px
      background: getColor('$white12')
      margin: 0

    > .g-grid
      > .info
        display: flex
        align-items: flex-end
        // margin-bottom: 8px
        padding: 16px

        > .left
          > .name
            font-h1()

          > .tag
            font-caption1()
            color: getColor('$tertiary300')
            margin-top: 2px

        > .right
          margin-left: auto
          display: flex
          align-items: center

          > .clan-info

            > .clan-name
              font-body1()

            > .clan-tag
              font-caption1()
              color: getColor('$tertiary300')
              margin-top: 2px

          > .clan-badge
            margin-left: 8px

      > .g-cols
        > .g-col
          > .text
            font-title()
            text-align: center

      > .last-updated
        padding: 8px 16px
        display: flex
        align-items: center

        > .time
          font-caption2()

        > .auto-refresh
          cursor: pointer
          display: flex

          font-caption2()
          margin-left: auto
          margin-right: 8px

          > .status
            font-caption1()
            font-weight: 600
            text-transform: uppercase
            margin-left: 4px

          > .info
            margin-left: 4px


      > .follow-button, > .verify-button
        padding: 0 16px 16px 16px

  > .content
    padding: 0 16px

    > .card
      margin: 16px 0

    > .ad
      margin: 16px 0

    > .block
      > .g-grid
        > .chests
          width: 100%
          overflow-x: auto
          -webkit-overflow-scrolling: touch
          white-space: nowrap
          margin-top: -16px
          max-width: 900px
          margin-left: auto
          margin-right: auto

          > .chest
            display: inline-block

        > .chests-button
          margin-top: 16px
          display: flex

          > div
            flex: 1

        > .splits-info-card
          margin-top: 16px

        > .title
          font-subhead()
          color: getColor('$primary500')
          margin: 16px 0

        > .g-cols
          > .g-col
            > .name
              font-caption1()
              color: getColor('$tertiary300')

            > .value
              font-title()
              margin-top: 4px
