@require 'zorium-paper/base'

@require '../../vars'

.z-group-list
  > .g-grid
    > .title
      font-title()
      color: getColor('$primary500')

  > .no-groups
    > .g-grid
      box-sizing: border-box
      padding: 16px
      text-align: center

  > .groups
    > .g-grid
      > .g-cols
        > .g-col
          > .group
            display: block
            position: relative
            background: getColor('$tertiary700')

            > .header
              width: 100%
              padding-bottom: 56%
              position: relative
              background: black

              > .inner
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%

            > .content
              padding: 16px
              white-space: nowrap
              overflow: hidden

              > .name
                font-title()

              > .count
                font-caption1()
                margin-top: 4px
