@require 'zorium-paper/base'

@require '../../vars'

.z-get-app
  flex: 1
  display: flex
  padding: 16px

  > .content
    flex: 1
    display: flex

    > .inner
      max-width: $inputMaxWidth
      margin: 0 auto
      display: flex
      flex-direction: column

      > .title
        responsive-font-title()
        text-transform: uppercase
        text-align: center
        margin-bottom: 32px

      > .description
        responsive-font-body2()
        margin-bottom: 32px
        text-align: center

      > .icon
        width: 112px
        height: 176px
        margin: auto
        background-image: url($cdnUrl + '/onboarding_download.svg')
        background-size: 100% auto

      > .buttons
        margin-top: auto

        > .button
          margin-top: 16px
