@require '../../vars'

.z-collection
  flex1()
  // always visible or else window width changes
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .info-card
      padding: 16px
