@require '../../vars'

.z-fortnite-get-player-tag-form
  > .networks
    display: flex

  > .link-account
    font-caption2()
    text-align: center
    margin-bottom: 8px

    > .instructions
      display: block
      color: getColor('$primary300')
      text-decoration: underline
      cursor: pointer
      // font-weight: bold

  > .input
    text-align: left

  > .button
    margin-top: 24px


.z-get-player-tag-form_dialog
  a
    color: getColor('$primary300')
    text-decoration: underline
  > .description
    font-caption1()
