@require 'zorium-paper/base'

@require '../../vars'

.z-top-friends
  flex: 1
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .users
    > .title
      responsive-font-subhead()
      color: getColor('$primary500')
