@require '../../vars'

.z-group-home_ui-card
  > .currency-amount
    display: flex
    align-items: center
    position: absolute
    top: 16px
    right: 16px

    > .icon
      margin-left: 8px

  > .row
    display: flex
    align-items: center

    > .product
      width: 30px
      height: 30px
      background-size: 100%
      background-repeat: no-repeat
      margin-right: 8px

    > .button
      margin-left: auto
