@require '../../vars'

.z-group-manage-pages
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 8px

  > .pages
    > .page
      display: block
      font-title()
      padding: 8px

  > .fab
    position: absolute
    bottom: 16px
    right: 16px
