@require 'zorium-paper/base'

@require '../../vars'

.z-deck-picker
  flex: 1
  display: flex
  flex-direction: column

  > .selected
    padding: 16px

  > .cards
    background: getColor('$tertiary900')
    padding: 16px
    flex: 1
    display: flex

    > .scroller
      flex: 1
      overflow: auto
      -webkit-overflow-scrolling: touch
