@require 'zorium-paper/base'

@require '../../vars'

.z-forum-signature
  flex: 1
  overflow-y: auto
  -webkit-overflow-scrolling: touch

  > .top
    padding: 16px
    background: getColor('$tertiary700')

    > .g-grid > .g-cols > .g-col
      > .labels
        font-caption1()
        display: flex

        > .help
          margin-left: auto
          text-decoration: underline

      > .input-wrapper
        display: flex
        align-items: center

        > .input
          font-input()
          margin-top: 8px
          width: 100%
          background: getColor('$tertiary900')
          color: getColor('$tertiary900Text')
          border: none
          outline: none
          padding: 16px
          box-sizing: border-box

  > .options
    padding: 16px

    > .g-grid
      &.cards
        margin-top: 8px

      > .subhead
        font-subhead()
        padding: 16px 0
        color: getColor('$primary500')

      > .g-cols > .g-col
        > .color
          width: 100%
          padding-bottom: 100%
          border-radius: 50%
          position: relative
          box-sizing: border-box
          cursor: pointer

          &.blue
            background: linear-gradient(to top, #195986, #59d4e1)

          &.yellow
            background: linear-gradient(to top, #fbd157, #ed9153)

          &.red
            background: linear-gradient(to top, #f05941, #be3144)

          &.green
            background: linear-gradient(to top, #547c66, #acdb86)

          &.purple
            background: linear-gradient(to top, #54118a, #986ead)

          &.pink
            background: linear-gradient(to top, #b80257, #fc7fb6)

          &.gray
            background: linear-gradient(to top, #333c4a, #596f87)

          &.light-blue
            background: linear-gradient(to top, #a9d2ff, #d2f6fc)


          > .selected
            position: absolute
            top: 20%
            left: 20%
            content: ''
            width: 60%
            height: 60%
            border-radius: 50%
            background: getColor('$black87')
            box-sizing: border-box
