@require '../../vars'

.z-spend-fire
  // padding: 16px
  // width: 100%
  // box-sizing: border-box

  > .items
    > .item
      display: flex
      align-items: center
      margin: 8px 0

      > .info
        > .name
          font-title()

        > .limited
          font-caption2()

      > .buy
        margin-left: auto

.z-spend-fire_buy-button
  display: flex
  align-items: center

  > .amount
    flex: 1
